@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  box-sizing: border-box;
}

.resume-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-wrapper {
  flex: 25%;
  padding: 20px;
  background-color: #1a535c;
  color:lightgray;
  order: 1;
}

.main-wrapper {
  flex: 75%;
  padding: 20px;
}

body {
  background-color: whitesmoke;
  color:black;
  font-family: "Inconsolata", monospace;
}

h1 {
  background-color: #1a535c;
}

h3,
a {
  color: #3aa8a1;
}

h1,
h2 {
  color: #4ecdc4;
}

img {
  border-color: #4ecdc4;
  border-style: dashed;
  border-width: 5px;
}

img.without-border {
  border: none;
}

.flipper {
  background-color: #4ecdc4;
  color: #100e04;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border: 1px solid #4ecdc4;
  flex: 1;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}